// Colors

$drop-shadow-blue: #233f8b;

$ameren-green: #218737;
$ameren-green-light: #2bb348;
$ameren-green-dark: #265222;

$ameren-blue: #1b6cb5;
$ameren-blue-light: #4c97d9;
$ameren-blue-dark: #1f3a67;

$ameren-yellow: #f0d22b;
$ameren-yellow-light: #faea91;
$ameren-yellow-dark: #d49100;

$ameren-gray: #636363;
$ameren-gray-dark: #363636;
$ameren-gray-40: #959595;
$ameren-gray-20: #c6c6c6;
$ameren-gray-10: #e3e3e3;
$ameren-gray-05: #f4f4f4;


$ameren-gray-text: #4c4c4c;
$ameren-blue-text: #274e8c;

$font-color: $ameren-gray-text;
